@model MyBookLife.Application.ViewModels.EntryVm.NewEntryVm

@{
    ViewData["Title"] = "AddEntry";
}

<header class="bg-dark py-0.5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">New entry</h1>
        </div>
    </div>
</header>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEntry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreateDateTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PagesRead" class="control-label"></label>
                <input asp-for="PagesRead" class="form-control" />
                <span asp-validation-for="PagesRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DiaryId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control">
                    <option value="">Select Book</option>
                    @foreach (var book in ViewBag.Books)
                    {
                        <option value="@book.Id">@book.Title</option>
                    }
                </select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            No books here? <a asp-controller="Book" asp-action="AddBook">Click here</a> to add some
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DiaryEntries" asp-route-DiaryId="@Model.DiaryId">Back to Entries</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
