@model MyBookLife.Application.ViewModels.EntryVm.NewEntryVm

@{
    ViewData["Title"] = "EditEntry";
}

<header class="bg-dark py-0.5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Edit entry</h1>
        </div>
    </div>
</header>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEntry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreateDateTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PagesRead" class="control-label"></label>
                <input asp-for="PagesRead" class="form-control" />
                <span asp-validation-for="PagesRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DiaryId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DiaryEntries" asp-route-DiaryId="@Model.DiaryId">Back to Entries</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
