@model IEnumerable<MyBookLife.Application.ViewModels.GenreVm.GenreForListVm>

@{
    ViewData["Title"] = "GetListOfGenres";
}

<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Genres</h1>
            <a asp-action="AddGenre">Add Genre</a>
        </div>
    </div>
</header>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                    @Html.ActionLink("Delete", "RemoveGenreById", new { genreId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back to List</a>

